<h1>Flexible Payment
</h1>

<p>A <%= @number_of_years %> year loan of $<%= @present_value %>, with an annual interest rate of <%= @basis_points/100 %>%, requires a monthly payment of $<%= ((@basis_points/(10000*12)) * @present_value)/(1-((1+(@basis_points/(10000*12)))**(-1*(@number_of_years*12)))) %>
</p>
