<h1>Payment Calculation
</h1>

<form action = "/payment/results" >
  <div>
    <label for="zebra">
      APR
    </label>
    <input id="zebra" type="text" name="basis_points">
  </div>
  <div>
    <label for="zebra">
      Number of Years
    </label>
    <input id="zebra" type="text" name="number_of_years">
  </div>

  <div>
    <label for="zebra">
      Principal
    </label>
    <input id="zebra" type="text" name="present_value">
  </div>

    <button>Calculate monthly payment</button>

</form>
