<h1>Payment Calculation
</h1>

<form action = "/payment/results" >
  <div>
    <label for="apr">
      APR
    </label>
    <input id="apr" type="text" name="user_number">
  </div>
  <div>
    <label for="years">
      Number of years
    </label>
    <input id="years" type="text" name="user_number">
  </div>

  <div>
    <label for="principal">
      Principal
    </label>
    <input id="principal" type="text" name="user_number">
  </div>

    <button>Calculate monthly payment</button>

</form>
