<h1>Random Calculation
</h1>

<form action = "/random/results" >
  <div>
    <lable for="zebra">
      Minimum
    </lable>
    <input id="zebra" type="text" name="user_min">
  </div>
  <div>
    <lable for="zebra">
      Maximum
    </lable>
    <input id="zebra" type="text" name="user_max">
  </div>
    <button>Pick Random Number</button>

</form>
