<h1>Square Calculation
</h1>

<form action = "/square/results">
  <div>
    <lable for="zebra">
    Enter a number
    </lable>
    <input id="zebra" type="text" name="user_number">
  </div>
    <button>Calculate square</button>

</form>

<a href="/flexible/square/5">Go back home</a>
